flows (3).json
[{"id":"9937f4b6bfa4bbae","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d22fb4dcd933995f","type":"http request","z":"9937f4b6bfa4bbae","name":"Get Weather Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Athens,GR&units=metric&appid=524f1507021c99a3232fd5ab63adb900","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":240,"wires":[["4633c883449fd6a6"]]},{"id":"4633c883449fd6a6","type":"json","z":"9937f4b6bfa4bbae","name":"","property":"payload","action":"","pretty":false,"x":450,"y":240,"wires":[["c1a59c11b26fa42a"]]},{"id":"c1a59c11b26fa42a","type":"function","z":"9937f4b6bfa4bbae","name":"function 1","func":"msg.payload = {\n    temp: msg.payload.main.temp,\n    humidity: msg.payload.main.humidity,\n    pressure: msg.payload.main.pressure\n};\nmsg.topic = \"iot/weather\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["d3fdcfe1289e4a9c","82fa430628b37922"]]},{"id":"b7de1d044179a551","type":"mqtt out","z":"9937f4b6bfa4bbae","name":"","topic":"iot/weather","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0c0e7b116886d7e3","x":830,"y":120,"wires":[]},{"id":"03732d9148f199f3","type":"debug","z":"9937f4b6bfa4bbae","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":180,"wires":[]},{"id":"57120d5bc2f2638c","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"","topic":"iot/weather","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":180,"wires":[["03732d9148f199f3"]]},{"id":"d3fdcfe1289e4a9c","type":"function","z":"9937f4b6bfa4bbae","name":"format to CSV","func":"let d = msg.payload;\n\nlet csvLine = `${d.temp},${d.humidity},${d.pressure},${new Date().toISOString()}\\n`;\n\nmsg.payload = csvLine;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":60,"wires":[["25383e7c43b823fd"]]},{"id":"25383e7c43b823fd","type":"file","z":"9937f4b6bfa4bbae","name":"Save to CSV","filename":"C:\\Users\\basil\\Desktop\\new_weather_data.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":60,"wires":[[]]},{"id":"57b2a87661a031c7","type":"inject","z":"9937f4b6bfa4bbae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":70,"y":360,"wires":[["2d9453cec6df0d1f","d22fb4dcd933995f","be71121ec7d23e26"]]},{"id":"2d9453cec6df0d1f","type":"http request","z":"9937f4b6bfa4bbae","name":"Get Pollution Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/air_pollution?lat=37.98&lon=23.73&appid=524f1507021c99a3232fd5ab63adb900","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":360,"wires":[["27f09b58d91dbc71"]]},{"id":"27f09b58d91dbc71","type":"json","z":"9937f4b6bfa4bbae","name":"","property":"payload","action":"","pretty":false,"x":450,"y":360,"wires":[["0a5d66e5fa2a81e6"]]},{"id":"0a5d66e5fa2a81e6","type":"function","z":"9937f4b6bfa4bbae","name":"function 2","func":"let data = msg.payload.list[0];\nlet result = {\n    pm2_5: data.components.pm2_5,\n    pm10: data.components.pm10,\n    no2: data.components.no2,\n    o3: data.components.o3,\n    co: data.components.co,\n    timestamp: new Date().toISOString()\n};\nmsg.payload = result;\nmsg.topic = \"iot/airquality\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["ee1d2a332601963a","9e71332ceec525c8","82fa430628b37922"]]},{"id":"ee1d2a332601963a","type":"mqtt out","z":"9937f4b6bfa4bbae","name":"","topic":"iot/airquality","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0c0e7b116886d7e3","x":830,"y":340,"wires":[]},{"id":"9e71332ceec525c8","type":"function","z":"9937f4b6bfa4bbae","name":"Format to CSV","func":"msg.payload = `${msg.payload.pm2_5},${msg.payload.pm10},${msg.payload.no2},${msg.payload.o3},${msg.payload.co},${msg.payload.timestamp}`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["ab53d7958ee00c7d"]]},{"id":"ab53d7958ee00c7d","type":"file","z":"9937f4b6bfa4bbae","name":"Save to CSV","filename":"C:\\Users\\basil\\Desktop\\air_data.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":280,"wires":[[]]},{"id":"9382b3a05fc1da6a","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"","topic":"iot/airquality","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":830,"y":400,"wires":[["ee93fb60f5e88edd"]]},{"id":"ee93fb60f5e88edd","type":"debug","z":"9937f4b6bfa4bbae","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":400,"wires":[]},{"id":"be71121ec7d23e26","type":"http request","z":"9937f4b6bfa4bbae","name":"Get Traffic Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.tomtom.com/traffic/services/4/flowSegmentData/absolute/10/json?point=37.9755%2C23.7348&key=DBqC6H3IjQ68ryuGED0ZNqWleOC0Ys9f","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":260,"y":480,"wires":[["411a1008de1c9f16"]]},{"id":"411a1008de1c9f16","type":"json","z":"9937f4b6bfa4bbae","name":"","property":"payload","action":"","pretty":false,"x":450,"y":480,"wires":[["dc20c4a6b2faaadb"]]},{"id":"dc20c4a6b2faaadb","type":"function","z":"9937f4b6bfa4bbae","name":"function 3","func":"let trafficData = msg.payload.flowSegmentData;\n\nmsg.payload = {\n    currentSpeed: trafficData.currentSpeed,\n    freeFlowSpeed: trafficData.freeFlowSpeed,\n    confidence: trafficData.confidence,\n    roadClosure: trafficData.roadClosure,\n    travelTime: trafficData.currentTravelTime,\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = \"iot/traffic\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":480,"wires":[["2fb15b6d7bfafc50","9fa407bbcf772660","82fa430628b37922"]]},{"id":"2fb15b6d7bfafc50","type":"mqtt out","z":"9937f4b6bfa4bbae","name":"","topic":"iot/traffic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0c0e7b116886d7e3","x":820,"y":540,"wires":[]},{"id":"4d90ab47082ef1e8","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"","topic":"iot/traffic","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":600,"wires":[["e0e7b2f225bd274a"]]},{"id":"e0e7b2f225bd274a","type":"debug","z":"9937f4b6bfa4bbae","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":600,"wires":[]},{"id":"9fa407bbcf772660","type":"function","z":"9937f4b6bfa4bbae","name":"format to CSV","func":"msg.payload = [\n    msg.payload.currentSpeed,\n    msg.payload.freeFlowSpeed,\n    msg.payload.confidence,\n    msg.payload.roadClosure,\n    msg.payload.travelTime,\n    msg.payload.timestamp\n];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":480,"wires":[["8e698970db147834"]]},{"id":"8e698970db147834","type":"file","z":"9937f4b6bfa4bbae","name":"Save to CSV","filename":"C:\\Users\\basil\\Desktop\\traffic_data.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":480,"wires":[[]]},{"id":"82fa430628b37922","type":"join","z":"9937f4b6bfa4bbae","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":740,"wires":[["90c6578d35e9b829"]]},{"id":"90c6578d35e9b829","type":"function","z":"9937f4b6bfa4bbae","name":"function 4","func":"let weather = msg.payload[\"iot/weather\"];\nlet air = msg.payload[\"iot/airquality\"];\nlet traffic = msg.payload[\"iot/traffic\"];\n\nmsg.payload = {\n    temp: weather.temp,\n    humidity: weather.humidity,\n    pressure: weather.pressure,\n\n    pm2_5: air.pm2_5,\n    pm10: air.pm10,\n    co: air.co,\n    no2: air.no2,\n    o3: air.o3,\n\n    currentSpeed: traffic.currentSpeed,\n    freeFlowSpeed: traffic.freeFlowSpeed,\n    confidence: traffic.confidence,\n    roadClosure: traffic.roadClosure,\n    travelTime: traffic.travelTime,\n\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":680,"wires":[["606250ffe48f3574","a520124a2cac725a"]]},{"id":"606250ffe48f3574","type":"function","z":"9937f4b6bfa4bbae","name":"Format to CSV","func":"let d = msg.payload;\n\nmsg.payload = `${d.temp},${d.humidity},${d.pressure},${d.pm2_5},${d.pm10},${d.co},${d.no2},${d.o3},${d.currentSpeed},${d.freeFlowSpeed},${d.confidence},${d.roadClosure},${d.travelTime},${d.timestamp}\\n`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":680,"wires":[["e8e00b4899929209"]]},{"id":"e8e00b4899929209","type":"file","z":"9937f4b6bfa4bbae","name":"Save to CSV","filename":"C:\\Users\\basil\\Desktop\\All_data.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1210,"y":680,"wires":[[]]},{"id":"a520124a2cac725a","type":"function","z":"9937f4b6bfa4bbae","name":"Aware-Clustering","func":"let newData = msg.payload;\n\n// Ανάκτηση ιστορικού\nlet history = flow.get(\"cluster_history\") || [];\n\n// Εξαγωγή ώρας & μήνα\nlet date = new Date(newData.timestamp);\nlet hour = date.getHours();\nlet month = date.getMonth() + 1;\nnewData.hour = hour;\nnewData.month = month;\n\n// Προσθήκη νέου event\nhistory.push({\n    temp: newData.temp,\n    pm2_5: newData.pm2_5,\n    currentSpeed: newData.currentSpeed,\n    hour: hour,\n    month: month\n});\n\n// Κρατάμε max 500 σημεία\nif (history.length > 500) history.shift();\nflow.set(\"cluster_history\", history);\n\n// Επιλογή σχετικών δεδομένων\nlet relevant = history.filter(p =>\n    Math.abs(p.hour - hour) <= 1 &&\n    Math.abs(p.month - month) <= 1\n);\n\nif (relevant.length < 10) {\n    newData.riskLevel = \"Normal\";\n    msg.payload = newData;\n    return msg;\n}\n\n// Μετατροπή δεδομένων σε σημεία\nlet points = relevant.map(p => [p.temp, p.pm2_5, p.currentSpeed]);\n\n// KMeans\nfunction kMeans(data, k = 3, maxIter = 10) {\n    let centroids = data.slice(0, k);\n    let assignments = [];\n\n    for (let iter = 0; iter < maxIter; iter++) {\n        assignments = data.map(point => {\n            let distances = centroids.map(c =>\n                Math.sqrt(c.reduce((sum, val, i) => sum + Math.pow(val - point[i], 2), 0))\n            );\n            return distances.indexOf(Math.min(...distances));\n        });\n\n        let newCentroids = Array(k).fill().map(() => Array(data[0].length).fill(0));\n        let counts = Array(k).fill(0);\n\n        data.forEach((point, i) => {\n            let cluster = assignments[i];\n            counts[cluster]++;\n            point.forEach((val, dim) => {\n                newCentroids[cluster][dim] += val;\n            });\n        });\n\n        centroids = newCentroids.map((sum, i) =>\n            sum.map(val => val / (counts[i] || 1))\n        );\n    }\n\n    return { centroids, assignments };\n}\n\nlet { centroids, assignments } = kMeans(points);\n\n// Normalize τα centroids (\nfunction normalizePoints(data) {\n    let dim = data[0].length;\n    let mins = Array(dim).fill(Infinity);\n    let maxs = Array(dim).fill(-Infinity);\n\n    data.forEach(point => {\n        point.forEach((val, i) => {\n            if (val < mins[i]) mins[i] = val;\n            if (val > maxs[i]) maxs[i] = val;\n        });\n    });\n\n    return data.map(point =>\n        point.map((val, i) => (maxs[i] - mins[i]) === 0 ? 0 : (val - mins[i]) / (maxs[i] - mins[i]))\n    );\n}\n\nlet normalizedCentroids = normalizePoints(centroids);\n\n// Υπολογισμός score επικινδυνότητας ως euclidean distance από το \"ιδανικό\" \nfunction riskScoreNormalized([temp, pm2_5, speed]) {\n    let ideal = [0, 0, 1]; // temp low, pollution low, speed high\n    return Math.sqrt(\n        Math.pow(temp - ideal[0], 2) +\n        Math.pow(pm2_5 - ideal[1], 2) +\n        Math.pow(speed - ideal[2], 2)\n    );\n}\n\n// Βαθμολόγηση κάθε cluster\nlet clusterScores = normalizedCentroids.map(riskScoreNormalized);\n\n// Κατάταξη με βάση τον \"κίνδυνο\" (μικρότερη απόσταση = πιο καλό)\nlet sorted = [...clusterScores].map((v, i) => ({ i, v }))\n    .sort((a, b) => a.v - b.v)\n    .map((x, idx) => ({ cluster: x.i, rank: idx }));\n\nlet clusterToLabel = {};\nsorted.forEach(({ cluster, rank }) => {\n    clusterToLabel[cluster] = [\"Normal\", \"Moderate\", \"High Risk\"][rank];\n});\n\n// Προσδιορισμός σε ποιο cluster ανήκει το νέο σημείο\nlet inputPoint = [newData.temp, newData.pm2_5, newData.currentSpeed];\n\nfunction getCluster(point) {\n    let distances = centroids.map(c =>\n        Math.sqrt(c.reduce((sum, val, i) => sum + Math.pow(val - point[i], 2), 0))\n    );\n    return distances.indexOf(Math.min(...distances));\n}\n\nlet clusterIndex = getCluster(inputPoint);\nnewData.riskLevel = clusterToLabel[clusterIndex];\n\nmsg.payload = newData;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":840,"wires":[["d36c01824c79bb1b","a9b68236eab17940","9b183c125e5fa4fb","e1bd4fba512a0f7e","4ffb0129126fe80e","eaf52b9dcf5ded48"]]},{"id":"d36c01824c79bb1b","type":"function","z":"9937f4b6bfa4bbae","name":"Format to CSV","func":"let d = msg.payload;\n\nlet csvLine = `${d.temp},${d.humidity},${d.pressure},${d.pm2_5},${d.pm10},${d.co},${d.no2},${d.o3},${d.currentSpeed},${d.freeFlowSpeed},${d.confidence},${d.roadClosure},${d.travelTime},${d.timestamp},${d.riskLevel}\\n`;\n\nmsg.payload = csvLine;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":780,"wires":[["630fe052e5261930"]]},{"id":"630fe052e5261930","type":"file","z":"9937f4b6bfa4bbae","name":"Save to CSV","filename":"C:\\Users\\basil\\Desktop\\Risk_Data.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1130,"y":780,"wires":[["13299f9d705c1748"]]},{"id":"a9b68236eab17940","type":"function","z":"9937f4b6bfa4bbae","name":"RabbitMQ Alerts","func":"let data = msg.payload;\n\n//Χρήση υπάρχοντος riskLevel από το clustering\nlet risk = data.riskLevel;\nlet topics = [];\n\nif (risk === \"High Risk\") {\n    topics.push(\"risk.high.broadcast\");\n} else {\n    let base = `risk.${risk.toLowerCase().replace(\" \", \".\")}`;\n    topics.push(`${base}.weather`);\n    topics.push(`${base}.pollution`);\n    topics.push(`${base}.traffic`);\n}\n\n//Δημιουργία εξόδων προς RabbitMQ\nlet outputMsgs = topics.map(topic => ({\n    topic: topic,\n    payload: data\n}));\n\nreturn [outputMsgs];\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":900,"wires":[["20ad7d4b7de077b4","1834c940bb1b320c"]]},{"id":"20ad7d4b7de077b4","type":"mqtt out","z":"9937f4b6bfa4bbae","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0c0e7b116886d7e3","x":1130,"y":900,"wires":[]},{"id":"1","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"High Risk Broadcast","topic":"alert.broadcast","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":950,"y":960,"wires":[["debug1"]]},{"id":"2","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Moderate - Weather","topic":"risk.moderate.weather","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":950,"y":1020,"wires":[["debug2"]]},{"id":"3","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Moderate - Pollution","topic":"risk.moderate.pollution","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":950,"y":1080,"wires":[["debug3"]]},{"id":"4","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Moderate - Traffic","topic":"risk.moderate.traffic","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":940,"y":1140,"wires":[["debug4"]]},{"id":"5","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Normal - Weather","topic":"risk.normal.weather","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":940,"y":1200,"wires":[["debug5"]]},{"id":"6","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Normal - Pollution","topic":"risk.normal.pollution","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":950,"y":1260,"wires":[["debug6"]]},{"id":"7","type":"mqtt in","z":"9937f4b6bfa4bbae","name":"Normal - Traffic","topic":"risk.normal.traffic","qos":"2","datatype":"auto-detect","broker":"0c0e7b116886d7e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":940,"y":1320,"wires":[["debug7"]]},{"id":"debug1","type":"debug","z":"9937f4b6bfa4bbae","name":"High Risk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":960,"wires":[]},{"id":"debug2","type":"debug","z":"9937f4b6bfa4bbae","name":"Mod Weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":1020,"wires":[]},{"id":"debug3","type":"debug","z":"9937f4b6bfa4bbae","name":"Mod Pollution","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":1080,"wires":[]},{"id":"debug4","type":"debug","z":"9937f4b6bfa4bbae","name":"Mod Traffic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":1140,"wires":[]},{"id":"debug5","type":"debug","z":"9937f4b6bfa4bbae","name":"Normal Weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":1200,"wires":[]},{"id":"debug6","type":"debug","z":"9937f4b6bfa4bbae","name":"Normal Pollution","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":1260,"wires":[]},{"id":"debug7","type":"debug","z":"9937f4b6bfa4bbae","name":"Normal Traffic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":1320,"wires":[]},{"id":"1834c940bb1b320c","type":"amqp-out","z":"9937f4b6bfa4bbae","name":"Alerts RabbitMQ","broker":"18e194c1d084f5e1","exchangeName":"New_Alerts","exchangeType":"topic","exchangeRoutingKey":"msg.topic","exchangeRoutingKeyType":"msg","exchangeDurable":true,"amqpProperties":"{ \"headers\": {} }","rpcTimeoutMilliseconds":3000,"outputs":0,"x":1160,"y":840,"wires":[]},{"id":"debug_high","type":"debug","z":"9937f4b6bfa4bbae","name":"High Risk Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1380,"wires":[]},{"id":"debug_user","type":"debug","z":"9937f4b6bfa4bbae","name":"User Risk Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1440,"wires":[]},{"id":"326b0e9fd18c7ff7","type":"amqp-in","z":"9937f4b6bfa4bbae","name":"User-Specific Alerts","broker":"18e194c1d084f5e1","prefetch":0,"noAck":true,"exchangeName":"New_Alerts","exchangeType":"topic","exchangeRoutingKey":"risk.normal.#, risk.moderate.#","exchangeDurable":true,"queueName":"New_Users","queueExclusive":false,"queueDurable":true,"queueAutoDelete":false,"headers":"{}","x":950,"y":1440,"wires":[["debug_user"]]},{"id":"ec01a7763b1ca34b","type":"amqp-in","z":"9937f4b6bfa4bbae","name":"Recieve High Alerts","broker":"18e194c1d084f5e1","prefetch":0,"noAck":true,"exchangeName":"New_Alerts","exchangeType":"topic","exchangeRoutingKey":"risk.high.#","exchangeDurable":true,"queueName":"New_Alerts","queueExclusive":false,"queueDurable":true,"queueAutoDelete":false,"headers":"{}","x":950,"y":1380,"wires":[["debug_high"]]},{"id":"chart-temp","type":"ui_chart","z":"9937f4b6bfa4bbae","name":"Temperature","group":"dashboard-group1","order":1,"width":6,"height":4,"label":"Temperature °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4"],"outputs":1,"x":710,"y":1100,"wires":[[]]},{"id":"chart-pm25","type":"ui_chart","z":"9937f4b6bfa4bbae","name":"PM2.5","group":"dashboard-group1","order":2,"width":6,"height":4,"label":"PM2.5 (μg/m³)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000"],"outputs":1,"x":690,"y":1040,"wires":[[]]},{"id":"text-risk","type":"ui_text","z":"9937f4b6bfa4bbae","group":"dashboard-group1","order":3,"width":6,"height":2,"name":"Risk Level","label":"Current Risk Level","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":710,"y":980,"wires":[]},{"id":"9b183c125e5fa4fb","type":"function","z":"9937f4b6bfa4bbae","name":"Risk_Level_Function","func":"msg.payload = msg.payload.riskLevel;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":980,"wires":[["text-risk"]]},{"id":"e1bd4fba512a0f7e","type":"function","z":"9937f4b6bfa4bbae","name":"PM2.5_Function","func":"msg.payload = msg.payload.pm2_5;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["chart-pm25"]]},{"id":"4ffb0129126fe80e","type":"function","z":"9937f4b6bfa4bbae","name":"Temp_Function","func":"msg.payload = msg.payload.temp;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1100,"wires":[["chart-temp"]]},{"id":"eaf52b9dcf5ded48","type":"debug","z":"9937f4b6bfa4bbae","name":"CLUSTERING","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":840,"wires":[]},{"id":"13299f9d705c1748","type":"debug","z":"9937f4b6bfa4bbae","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":780,"wires":[]},{"id":"0c0e7b116886d7e3","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"18e194c1d084f5e1","type":"amqp-broker","name":"RabbitMQ","host":"localhost","port":5672,"vhost":"","tls":false,"credsFromSettings":false},{"id":"dashboard-group1","type":"ui_group","name":"Weather & Risk","tab":"dashboard-tab1","order":1,"disp":true,"width":"12","collapse":false},{"id":"dashboard-tab1","type":"ui_tab","name":"Smart City Dashboard","icon":"dashboard","order":1}]